version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            mplang/.* test-changed true
            tests/.* test-changed true
            pyproject.toml test-changed true
            .circleci/continue-config.yml test-changed true
            .circleci/config.yml test-changed true
