name: Publish Release to PyPI

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' # e.g. v0.1.0, v1.2.3, v1.2.3-alpha.1

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # For PyPI Trusted Publishing

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'

      - name: Install Hatch and hatch-vcs
        run: pip install hatch hatch-vcs

      - name: Show version from tag
        run: |
          echo "Release version will be: $(hatch version)"

      - name: Build package
        run: hatch build

      - name: Publish package to PyPI
        run: hatch publish -r main
