name: Trigger Running Tutorials

on:
  pull_request_target:
    types: [labeled]

permissions:
  contents: read

jobs:
  trigger-circleci:
    runs-on: ubuntu-latest
    if: |
      github.event.action == 'labeled' && github.event.label.name == 'run-tut'
    permissions:
      pull-requests: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Trigger CircleCI Pipeline
        run: |
          echo "PR #${{ github.event.pull_request.number }} has 'run-tut' label. Triggering CircleCI pipeline..."

          curl -X POST \
            --url "https://circleci.com/api/v2/project/github/secretflow/mplang/pipeline/run" \
            --header "Content-Type: application/json" \
            --header "Circle-Token: ${{ secrets.CCI_TOKEN }}" \
            --data '{"definition_id":"73009f7c-f356-4bc0-aae5-6cd92ef9eff5","config":{"branch":"main"},"checkout":{"branch":"pull/${{ github.event.pull_request.number }}/head"}}'
      - name: Remove Label from PR
        run: |
          echo "Removing 'run-tut' label from PR #${{ github.event.pull_request.number }}..."

          curl -s -X DELETE \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept: application/vnd.github.v3+json" \
            "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels/run-tut"
